# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Entorno (¡crítico para que no se filtren tus API Keys!)
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env_python/

# Archivos de SO
.DS_Store
Thumbs.db

# Build y TS
dist/
build/

# Editores de Config / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
